<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>bookstore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>HitCounterFilter</filter-name>
    <filter-class>samples.webapps.bookstore.filters.HitCounterFilter</filter-class>
  </filter>
  <filter>
    <filter-name>OrderFilter</filter-name>
    <filter-class>samples.webapps.bookstore.filters.OrderFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HitCounterFilter</filter-name>
    <servlet-name>BookStoreServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OrderFilter</filter-name>
    <servlet-name>ReceiptServlet</servlet-name>
  </filter-mapping>
  
  <listener>
    <listener-class>samples.webapps.bookstore.listeners.ContextListener</listener-class>
  </listener>
  
  <servlet>
    <display-name>BannerServlet</display-name>
    <servlet-name>BannerServlet</servlet-name>
    <servlet-class>samples.webapps.bookstore.BannerServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ShowCartServlet</display-name>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>samples.webapps.bookstore.ShowCartServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>CashierServlet</display-name>
    <servlet-name>CashierServlet</servlet-name>
    <servlet-class>samples.webapps.bookstore.CashierServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>CatalogServlet</display-name>
    <servlet-name>CatalogServlet</servlet-name>
    <servlet-class>samples.webapps.bookstore.CatalogServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ReceiptServlet</display-name>
    <servlet-name>ReceiptServlet</servlet-name>
    <servlet-class>samples.webapps.bookstore.ReceiptServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>BookStoreServlet</display-name>
    <servlet-name>BookStoreServlet</servlet-name>
    <servlet-class>samples.webapps.bookstore.BookStoreServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>BookDetailsServlet</display-name>
    <servlet-name>BookDetailsServlet</servlet-name>
    <servlet-class>samples.webapps.bookstore.BookDetailsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>BannerServlet</servlet-name>
    <url-pattern>/banner</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/showcart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CashierServlet</servlet-name>
    <url-pattern>/cashier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatalogServlet</servlet-name>
    <url-pattern>/catalog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceiptServlet</servlet-name>
    <url-pattern>/receipt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookStoreServlet</servlet-name>
    <url-pattern>/enter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookDetailsServlet</servlet-name>
    <url-pattern>/bookdetails</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <error-page>
    <exception-type>samples.webapps.bookstore.exception.BooksNotFoundException</exception-type>
    <location>/errorpage.html</location>
  </error-page>
  <error-page>
    <exception-type>javax.servlet.UnavailableException</exception-type>
    <location>/errorpage.html</location>
  </error-page>
  <error-page>
    <exception-type>samples.webapps.bookstore.exception.BookNotFoundException</exception-type>
    <location>/errorpage.html</location>
  </error-page>
    
  <resource-ref>
  	<description>DB Connection</description>
    <res-ref-name>BookDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>